/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        bkslsh {
            bindings = <&kp BACKSLASH>;
            key-positions = <22 21>;
        };

        RBrkt {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <21 20>;
        };

        LBrkt {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <19 20>;
        };

        Enter {
            bindings = <&kp ENTER>;
            key-positions = <34 33>;
        };

        Quotes {
            bindings = <&kp SINGLE_QUOTE>;
            key-positions = <33 32>;
        };

        Colons {
            bindings = <&kp SEMI>;
            key-positions = <32 31>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   -   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   \   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |                   |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            // | LCTL  | LGUI  | LALT |  GRAV |  | EQL | DEL | BKSP|  | RET | SPC  | LBKT |  RBKT  | LBKT | HOME  |   END |

            bindings = <
&kp ESC    &kp N1    &kp N2    &kp N3     &kp N4     &kp N5               &kp N6         &kp N7    &kp N8    &kp N9     &kp N0    &kp MINUS
&kp TAB    &kp B     &kp Y     &kp O      &kp U      &kp LC(BACKSPACE)    &kp LC(DEL)    &kp L     &kp D     &kp W      &kp V     &kp BSLH
&kp LCTRL  &kp C     &kp I     &kp E      &kp A      &kp SPACE            &kp SPACE      &kp H     &kp T     &kp S      &kp N     &kp SQT
&kp LSHFT  &kp G     &kp X     &kp J      &kp K      &kp LC(LEFT)         &kp RC(RIGHT)  &kp R     &kp M     &kp F      &kp P     &kp RSHFT
&kp LCTRL  &kp LGUI  &kp LALT  &kp GRAVE  &kp EQUAL  &kp DEL              &kp SPACE      &kp LBKT  &kp RBKT  &kp MINUS  &kp HOME  &kp END
                                                     &kp BSPC             &kp RET
            >;
        };
    };
};
